[Desktop Entry]
Type=Application
Name=BabbleSynth
Comment=A low-level parametric voice synthesizer
Exec=babblesynth
Icon=babblesynth
Categories=AudioVideo;Audio;